<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Listado de atletas</h1>
    </div>
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Licencia</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha nacimiento</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Categoría</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atleta of atletas; let idAtleta=index">
            <th scope="row">{{ idAtleta+1 }}</th>
            <td>{{ atleta.licencia }}</td>
            <td>{{ atleta.nombre +' ' + atleta.apellidos }}</td>
            <td>{{ atleta.fechaNacimiento }}</td>
            <td>{{ atleta.ciudad }}</td>
            <td>{{ atleta.sexo }}</td>
            <td>{{ atleta.categoria }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>